<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="TJ" connectionString="Data Source=.;Initial Catalog=TJ;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="TJ" connectionString="Server=faraz.r1host.com;Database=bornate1_tj;User ID=bornate1_user;Password=z6~tQq13" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms"></authentication>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
